@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

:root {
    --primary: #fff6f6;
    --secondary: #333;
    --errorColor: red;
    --containerWidth: 600px;
}

body {
    background: #ffffff;
}

.container_form {
    width: var(--containerWidth);
    margin: 2vh auto;
    /* background: #b75cd5; */
    background: linear-gradient(#dc7efb, #4e0e6c);
    border-radius: 5px;
    padding: 50px;
    text-align: center;
}

.progress-bar {
    display: flex;
    margin: 30px 0;
}

.step {
    width: 25%;
    text-align: center;
    position: relative;
}

.step p {
    font-size: 18px;
    color: rgb(255, 246, 198);
}

.bullet {
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
}

.bullet.active {
    background: #333;
    color: rgb(172, 91, 91);
}

.check {
    display: none;
}

.check.active {
    display: inline;
}

.form-outer {
    overflow: hidden;
    width: 100%;
}

form {
    display: flex;
    width: 400%;
}

.page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}

.field {
    margin: 30px 0;
    text-align: left;
}

.field label {
    display: block;
    margin-bottom: 5px;
}

.field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    background: #d4c8d8;
}

.invalid-input {
    border-color: red;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.next,
.submit {
    background: #2c0646;
    color: white;
    width: 200px;
}

.prev {
    background: #bbb;
}
